/* Body and html styles */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.chat-container {
  max-width: 1150px;
  margin: 10px auto;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}

.chat-box {
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-box li {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-width: 50%;
}

.sent {
  margin-left: auto;
  background-color: #dcf8c6;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
}

.received {
  margin-right: auto;
  background-color: #f1f0f0;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
}

.username {
  font-weight: bold;
  margin-bottom: 2px;
}

.sent .username {
  display: none;
}

.message-content {
  white-space: pre-wrap;
}

.input-group {
  margin-top: 10px;
}

#personName {
  font-weight: bold;
  font-size: 16px;
}

.list-unstyled {
  display: flex;
  flex-flow: column wrap;
}

.list-unstyled .sent {
  align-self: end;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #2c2c2c;
  color: white;
}

.dark-mode .received {
  background-color: #3a3a3a;
}

.dark-mode .sent {
  background-color: #7b4bda;
  color: white;
}

/* Estilos para a barra de input no modo noturno */
.dark-mode .input-group .form-control {
  background-color: #2c2c2c;
  color: white;
}

.input-group::placeholder {
    color: white; /* Altere essa cor para o que desejar */
}

.dark-mode .input-group .btn {
  background-color: #7b4bda;
  color: white;
}

/* Estilo para o dropdown no modo noturno */
.dark-mode .dropdown-menu {
  background-color: #2c2c2c; /* Fundo escuro */
  color: white; /* Texto branco */
  border: 1px solid #7b4bda; /* Borda roxa para maior visibilidade */
}

.dark-mode .dropdown-item {
  background-color: #2c2c2c;
  color: white;
}

.dark-mode .dropdown-item:hover {
  background-color: #444; /* Destaque ao passar o mouse */
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7b4bda;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.dark-mode .slider {
  background-color: #444;
}

body.dark-mode .dropdown .btn {
    background-color: #333;
    color: #fff;
}

body:not(.dark-mode) .dropdown .btn {
    background-color: #f8f9fa;
    color: #000;
}
